.vp-doc {
  kbd {
    border: 1px solid var(--vp-c-border);
    box-shadow: inset 0 0 5px 0 var(--vp-c-brand-3);
    background-color: var(--vp-c-gray-soft);
    border-radius: 6px;
    display: inline-block;
    overflow-wrap: break-word;
    padding: 0 0.5em;
  }
}
