@import './color_schemes/dark';

$link-color: rgb(10, 248, 232);

.language-php .highlight {
  & .cd {
    color: #629654;
  }

  & .n {
    color: #4e9be2;
  }
}

.language-twig .highlight .err {
    color: #dee2f7;
    background-color: unset;
}